body {
  background-color: rgb(99, 0, 0);
}
h1 {
  color: rgb(250, 250, 250);
}
ul {
  font-size: 20px;
  color: rgb(247, 237, 247);
}
p {
  font-size: 20px;
  color: rgb(247, 237, 247);
}

a {
  font-size: 20px;
  color: rgb(247, 237, 247);
}
